body{
    background-color: #4d4a62;
    display: grid;

}

.titleMid{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}
.glow{
    text-shadow: rgba(185,122,149,1) 0px 0px 35px;
}

.titleTextMain{
    color:#B97A95;
    position: relative;
    place-content: center;
    display: flex;


}

.letter{
    font-size: 4em;

    
}

.titleTextSub{
    color:#99c579;
    font-size: 2em;
    text-align: center;
    
}

.top{
    padding: 10px;
    margin: 0;
    position: fixed;
    background-color: rgb(79, 163, 163);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.top .btn {
    background-color: rgb(79, 163, 163);
    font-size: 1.5em;
    border: none;
    border-radius: 0;
    padding: 10px;
    margin: 0;
    
    position: relative;
    transform-origin: center;
    transition: all 0.3s ease-in-out;
    transform: translate(50%, 50%);
    
}

.header{
    background-color: #4d4a62;
    color: #B97A95;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   z-index: -2;
}
a{
    color: #B97A95;
    text-decoration: none;
}
.header-left{
    float: left;
}
.header-right{
    float: right;
    align-items: center;
    display: inline-flex;
    height: 2em;
}
.logo{
    font-size: 2em;
    color: #B97A95;
    border-radius: 50%;
}
.home{
    font-size: 1.5em;
    color: #B97A95;
    margin: 0;
    padding-right: 0.6em;
}
.home:hover{
    color: #99c579;
}
.about{
    font-size: 1.5em;
    color: #B97A95;
    padding-right: 0.6em;
}
.about:hover{
    color: #99c579;
}
.contact{
    font-size: 1.5em;
    color: #B97A95;
    padding-right: 0.6em;
}
.contact:hover{
    color: #99c579;
}
