body{
    width: 100%;
    height: 100%;
}

.p0{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 0%;
   position: fixed;
}
.p1{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 5%;
   position: fixed
}
.p2{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 10%;
   position: fixed
}
.p3{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 15%;
   position: fixed;
}
.p4{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 20%;
   position: fixed
}
.p5{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 25%;
   position: fixed
}
.p6{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 30%;
   position: fixed
}
.p7{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 35%;
   position: fixed
}
.p8{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 40%;
   position: fixed
}
.p9{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 45%;
   position: fixed
}
.p10{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 50%;
   position: fixed
}
.p11{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 55%;
   position: fixed
}
.p12{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 60%;
   position: fixed
}
.p13{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 65%;
   position: fixed
}
.p14{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 70%;
   position: fixed
}
.p15{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 75%;
   position: fixed
}
.p16{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 80%;
   position: fixed
}
.p17{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 85%;
   position: fixed
}
.p18{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 90%;
   position: fixed
}
.p19{
    background: red;
    width: 5.1%;
    height: 200px;
    transition: all 0.5s;
    transform: translate(0, 50%);
    top: 50%;
    left: 95%;
   position: fixed
}
